<option value="Auto">Auto</option>
<option value="All">All</option>
<option value="AM">AM</option>
<option value="ARDOP">ARDOP</option>
<option value="ATV">ATV</option>
<option value="C4FM">C4FM</option>
<option value="CHIP">CHIP</option>
<option value="CLO">CLO</option>
<option value="CONTESTI">CONTESTI</option>
<option value="CW">CW</option>
<option value="DIGITALVOICE">DIGITALVOICE</option>
<option value="DOMINO">DOMINO</option>
<option value="DSTAR">DSTAR</option>
<option value="FAX">FAX</option>
<option value="FM">FM</option>
<option value="FSK441">FSK441</option>
<option value="FT8">FT8</option>
<option value="HELL">HELL</option>
<option value="ISCAT">ISCAT</option>
<option value="JT4">JT4</option>
<option value="JT6M">JT6M</option>
<option value="JT9">JT9</option>
<option value="JT44">JT44</option>
<option value="JT65">JT65</option>
<option value="MFSK">MFSK</option>
<option value="MSK144">MSK144</option>
<option value="MT63">MT63</option>
<option value="OLIVIA">OLIVIA</option>
<option value="OPERA">OPERA</option>
<option value="PAC">PAC</option>
<option value="PAX">PAX</option>
<option value="PKT">PKT</option>
<option value="PSK">PSK</option>
<option value="PSK2K">PSK2K</option>
<option value="Q15">Q15</option>
<option value="QRA64">QRA64</option>
<option value="ROS">ROS</option>
<option value="RTTY">RTTY</option>
<option value="RTTYM">RTTYM</option>
<option value="SSB">SSB</option>
<option value="SSTV">SSTV</option>
<option value="T10">T10</option>
<option value="THOR">THOR</option>
<option value="THRB">THRB</option>
<option value="TOR">TOR</option>
<option value="V4">V4</option>
<option value="VOI">VOI</option>
<option value="WINMOR">WINMOR</option>
<option value="WSPR">WSPR</option>
